@attribute [Route(PageRoute.Documentation + "/{CreditRequestId:int}")]
@attribute [AccessPoint(AppMenu.MenuOtrorgamiento, "Documentación", AccessPointType.Page)]
@attribute [Phase(PhaseCodes.Documentation, "Documentación", 5)]

<h3>Documentation</h3>

@code {

}
