@page "/"
@using BitzArt.Blazor.Auth;
@using ShopFinance.Infrastructure.Services;
@using System.Globalization;

<PageTitle>Home</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">  @_layoutCulture["WelcomeMessage"]</MudText>

<h5 style="margin-bottom:2rem;">
    Current renderer: @(RendererInfo.Name)
</h5>
<h5 style="margin-bottom:2rem;">
    AllClain: @(allClain)
</h5>
<h5 style="margin-bottom:2rem;">
    Usuario: @(userName)
</h5>

@code
{
    [Inject] IUserService<SignInPayload> UserService { get; set; } = null!;

    private string allClain;
    private string userName;

    protected override async Task OnInitializedAsync()
    {
        var _stateProvider = await UserService.GetAuthenticationStateAsync();

        var user = _stateProvider.User;
        allClain = user.ToReadableString();
        userName = user.GetUserName();
    }

    private void ShowCurrentCulture()
    {
        var culture = CultureInfo.CurrentCulture;
        var message = $"Cultura actual:Nombre: {culture.Name} Nombre nativo: {culture.NativeName} Fecha: {DateTime.Now.ToString("D")}Número: {12345.67.ToString("C")}";


    }
}